# Node
node_modules
.pnp
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.local
.env.*.local

# Next.js
.next
out

# Turborepo
.turbo

# Build outputs
dist
build
coverage

# Prisma
prisma/generated
**/node_modules/.prisma

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea

# TypeScript
*.tsbuildinfo

# Docker
docker-compose.override.yml
